name: Sync Upstream

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync with upstream
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: j-hc/revanced-magisk-module
          upstream_branch: main
          source_gh_token: ${{ secrets.GITHUB_TOKEN }}
          pr_branch_name_prefix: chore-upstream-sync
          pr_title: "chore: sync with upstream"
          pr_labels: upstream-sync,automated
          git_remote_pull_params: '--allow-unrelated-histories --no-rebase'