name: Sync Upstream

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Sync with upstream
        uses: repo-sync/pull-request@v2
        with:
          source_repo: j-hc/revanced-magisk-module
          source_branch: main
          destination_repo: ${{ github.repository }}
          destination_branch: main
          pr_title: "chore: sync with upstream"
          pr_label: "upstream-sync,automated"
          github_token: ${{ secrets.GITHUB_TOKEN }}
