name: Sync Upstream

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Sync with upstream
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: j-hc/revanced-magisk-module
          upstream_branch: main
          source_gh_token: ${{ secrets.GITHUB_TOKEN }}
          target_gh_token: ${{ secrets.REVANCED_EXTENDED_ANDREASAUGUSTIN_PAT }}
          pr_branch_name_prefix: chore-upstream-sync
          pr_title: "chore: sync with upstream"
          pr_labels: upstream-sync,automated
          git_remote_pull_params: '--no-rebase'
          template_sync_ignore_file_path: .templatesyncignore
